{
    "presets": ["next/babel"],
    "plugins": [
        ["styled-components", 
        { 
            "ssr": true,
            "displayName": true,
            }
        ],
        "macros",
        "syntax-dynamic-import",
        "transform-class-properties"
    ],
    "env": {
        "test": {
          "plugins": [
            "dynamic-import-node"
          ]
        }
    }
  }